.env
.vscode/
__pycache__/
*.pyc
.DS_Store
.venv/
.pytest_cache/
# Ignore data folder as per instructions (Data Lake)
data/
logs/
# dbt specific
medical_warehouse/target/
medical_warehouse/dbt_packages/
medical_warehouse/logs/



testrea*
medical_scraper_session.*
notebooks/medical_scraper_dev_session*
notebooks/test*




yolov8n.pt